a {
  text-decoration: none;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 150%;
	background-image: url("pink-aqua.jpg");
	background-position: center center;
	background-repeat: no-repeat;
  
}
.paper {
	background-image: url("paper1.jpg");
	color: white;
	background-size: 550px;
	background-position: center;
	padding: 20px 50px;
	border-radius: 20px;
	transform: rotateZ(-5deg);
	box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
	position: absolute;
}
.paper.wish {
  background-image: url("pp_pppr.jpg");
  background-size: 200px;
  background-position: center center;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  position: absolute;
}
.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}
.paper.image {
  padding: 10px;
  font-size: 20px;
  width : 525px;
}
.paper.image1 {
  padding: 10px;
}
.img{
	height: 275px;
	width: 350;
}
.img1{
	height: 250px;
	width: 90%;
}
.cake{
	border-radius:50%;
	width: 100%;
	height: 100%;
}
.paper.heart::after {
  content: "";
  border-radius:50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
}
.paper.red {
/*   filter: hue-rotate(90deg); */
}
.paper:nth-of-type(3n) {
  background-position: left top;
}
.paper:nth-of-type(3n) {
/*   filter: hue-rotate(200deg); */
}
.p {
	background-size: 200%;
	font-family: 'Zeyada';
	font-style: bold;
	font-size: 30px;
	font-weight: 30px;
	color: black;
	user-select: none;
	text-align: center;
}
.p1 {
  font-family: 'Zeyada';
  font-size: 25px;
  font-weight : 50px;
  color: black;
  user-select: none;
  border-radius : 10px;
  text-align : center;
}
.p2 {
  font-family: 'Zeyada';
  font-size: 22px;
  font-weight : 50px;
  color: black;
  user-select: none;
  border-radius : 10px;
  text-align : center;
}
