@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
body{
	background-image: url("pink-blue-black.jpg");
	background-repeat: no-repeat;
	background-size: 150%;
	width:100%;
	background-position: center center;
	font-family: 'times new roman';
	font-size: 30px;
	font-weight: 30px;
}
.bn1 {
	background-color: transparent;
	border: black 2px solid;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	border-radius: 12px;
	opacity : 40%;
}
.fm{
	
	background-color: #cce6ff;
	border:none;
	border-bottom:2px solid rgb(119, 0, 179);
	opacity:50%;
	border-radius: 8px;
}
.r{
	background-image: transparent;
	background-color : transparent;
	border-radius: 25px;
	border: black 3px solid;
	padding: 20px;
	opacity : 100%;
}
.clr-i{
	color : #722F37;
}